# Sequential Model

In [1]:
import pandas as pd

In [2]:
LOG_FILE = '../log/seq.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      37.927835  train
1      0      1      37.692268  train
2      0      2      37.121747  train
3      0      3      36.992582  train
4      0      4      36.978777  train
5      0      5      37.005965  train
6      0      6      36.982660  train
7      0      7      37.064564  train
8      0      8      37.602187  train
9      0      9      37.391119  train

In [3]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,100.0,37.444571,0.311581,36.978777,37.333533,37.418802,37.535844,39.849170
val,20.0,13.561432,0.042350,13.469661,13.538200,13.561505,13.601222,13.622708

In [4]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       2.000000
mean     2007.842853
std         4.639145
min      2004.562482
25%      2006.202667
50%      2007.842853
75%      2009.483038
max      2011.123224
Name: batch_time(s), dtype: float64

# Pipeline Model

## 2-Stages

### 10 Microbatches

In [5]:
LOG_FILE = '../log/pipe_0_micro10_stage2.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      19.786824  train
1      0      1      26.405233  train
2      0      2      25.811688  train
3      0      3      25.205973  train
4      0      4      25.734859  train
5      0      5      25.759560  train
6      0      6      25.876417  train
7      0      7      25.639778  train
8      0      8      25.984810  train
9      0      9      26.153860  train

In [6]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,100.0,25.686979,1.026166,19.591154,25.407748,25.818709,26.197956,27.059549
val,20.0,8.189267,1.757590,7.531962,7.565194,7.643546,7.691071,13.870680

In [7]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       2.000000
mean     1366.241614
std         6.544388
min      1361.614033
25%      1363.927823
50%      1366.241614
75%      1368.555404
max      1370.869195
Name: batch_time(s), dtype: float64

### 5 Microbatches

In [8]:
LOG_FILE = '../log/pipe_0_micro5_stage2.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      19.916269  train
1      0      1      19.065068  train
2      0      2      19.103307  train
3      0      3      18.995066  train
4      0      4      19.069684  train
5      0      5      19.100319  train
6      0      6      19.032089  train
7      0      7      19.001371  train
8      0      8      18.993308  train
9      0      9      19.015984  train

In [9]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,100.0,19.022151,0.099282,18.936286,18.982342,19.010414,19.042588,19.916269
val,20.0,7.245916,0.021765,7.206877,7.229005,7.242957,7.263358,7.281318

In [10]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       2.000000
mean     1023.566705
std         1.262030
min      1022.674315
25%      1023.120510
50%      1023.566705
75%      1024.012900
max      1024.459095
Name: batch_time(s), dtype: float64

## 4-Stages

### 10 Microbatches

In [11]:
LOG_FILE = '../log/pipe_0_micro10_stage4.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      29.441517  train
1      0      1      29.227553  train
2      0      2      29.178818  train
3      0      3      29.086882  train
4      0      4      29.061568  train
5      0      5      29.114326  train
6      0      6      29.028959  train
7      0      7      29.077035  train
8      0      8      28.942002  train
9      0      9      29.002285  train

In [12]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,100.0,29.364054,0.171964,28.919555,29.225830,29.436897,29.476227,29.629242
val,20.0,11.081379,0.049586,11.017027,11.037483,11.079573,11.124048,11.163506

In [13]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       2.000000
mean     1579.016484
std         6.662101
min      1574.305667
25%      1576.661075
50%      1579.016484
75%      1581.371892
max      1583.727301
Name: batch_time(s), dtype: float64

### 5 Microbatches

In [14]:
LOG_FILE = '../log/pipe_0_micro5_stage4.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      28.572289  train
1      0      1      28.517370  train
2      0      2      28.541180  train
3      0      3      28.186217  train
4      0      4      28.153702  train
5      0      5      28.102146  train
6      0      6      28.095534  train
7      0      7      27.998015  train
8      0      8      28.087693  train
9      0      9      28.109761  train

In [15]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,100.0,28.128015,0.085489,27.998015,28.087667,28.114255,28.147949,28.572289
val,20.0,10.625925,0.032423,10.565432,10.602100,10.621649,10.651275,10.697415

In [16]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       2.000000
mean     1512.660016
std         0.405571
min      1512.373234
25%      1512.516625
50%      1512.660016
75%      1512.803407
max      1512.946799
Name: batch_time(s), dtype: float64