# Perfomance Analysis

In [2]:
import pandas as pd

## Sequential Model

In [3]:
LOG_FILE = '../log/seq.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      25.979750  train
1      0      1      26.016988  train
2      0      2      26.434223  train
3      0      3      25.707898  train
4      0      4      25.592377  train
5      0      5      25.641662  train
6      0      6      25.612364  train
7      0      7      25.624064  train
8      0      8      25.591709  train
9      0      9      25.612150  train

In [12]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,250.0,26.080359,0.344749,25.577825,25.981775,26.037149,26.124101,28.670659
val,50.0,10.234476,0.191090,10.128167,10.179445,10.208933,10.232612,11.475606

In [6]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       5.000000
mean     1406.362735
std         4.620646
min      1401.187116
25%      1402.878305
50%      1405.472299
75%      1410.945040
max      1411.330913
Name: batch_time(s), dtype: float64

## Pipeline Model

It is necessary to study the computational time and space of the different types of layers before splitting the model. Considering that the studied model is composed of GATConv, Linear layer and Global Pool (for the graph embedding), the studies will be carried out on these three types of layers

In [8]:
LAYER_LOG_FILE = '../log/layer.csv'

layer_df = pd.read_csv(LAYER_LOG_FILE)
layer_df.head(n=5)

            layer   time(s)
0        GATConv1  2.310827
1        GATConv2  2.341632
2  Concat+Pooling  0.519780
3         Linear1  0.023800
4    Linear2+Loss  0.012707

In [13]:
layer_df.groupby('layer')['time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
layer,,,,,,,,
Concat+Pooling,10.0,0.506487,0.005675,0.502264,0.502750,0.503929,0.508548,0.519780
GATConv1,10.0,2.233142,0.035923,2.206433,2.211046,2.213583,2.241407,2.310827
GATConv2,10.0,2.347178,0.008029,2.332859,2.344715,2.346357,2.348339,2.363736
Linear1,10.0,0.006244,0.007099,0.002239,0.002453,0.002478,0.008475,0.023800
Linear2+Loss,10.0,0.064375,0.018192,0.012707,0.069393,0.069643,0.070077,0.073354

## Pipeline with 2 Stages

Pipeline model:
* Stage 1: 1 layer GATConv1 and 1 layer GATConv2;
* Stage 2: 2 layer GATConv2 + 'Concat+Pooling' + Linear1 + 'Linear2+Loss'