# Perfomance Analysis

In [6]:
import pandas as pd

## Sequential Model

In [7]:
LOG_FILE = '../log/seq.csv'

df = pd.read_csv(LOG_FILE)
df['phase'] = df.replace({'phase': {0: 'train', 1: 'val'}})['phase']
df.head(n=10)

   epoch  batch  batch_time(s)  phase
0      0      0      37.927835  train
1      0      1      37.692268  train
2      0      2      37.121747  train
3      0      3      36.992582  train
4      0      4      36.978777  train
5      0      5      37.005965  train
6      0      6      36.982660  train
7      0      7      37.064564  train
8      0      8      37.602187  train
9      0      9      37.391119  train

In [8]:
df.groupby('phase')['batch_time(s)'].describe()

,count,mean,std,min,25%,50%,75%,max
phase,,,,,,,,
train,100.0,37.444571,0.311581,36.978777,37.333533,37.418802,37.535844,39.849170
val,20.0,13.561432,0.042350,13.469661,13.538200,13.561505,13.601222,13.622708

In [9]:
df.groupby('epoch')['batch_time(s)'].sum().describe()

count       2.000000
mean     2007.842853
std         4.639145
min      2004.562482
25%      2006.202667
50%      2007.842853
75%      2009.483038
max      2011.123224
Name: batch_time(s), dtype: float64